/******
VARIABLES
******/

$body-bg-color: #fff;
$main-color: #1e3120;
$main-color-dark: #101a11;
$navbar-search-input-color: #f3f4f3;
$button-h4-icon-color: #3d6f42;
$button-bg-hover: #2B4F2F;
$color-green: #3d6f42;
$newsletter: #273F29;